html
    head
        title Node-ts-app
        block styles
            link(rel="stylesheet" href="/public/styles.css")
    body
        block header
            nav.text-container
                ul
                    a(href="/") Home Page&nbsp;
                    a(href="/hello") Hello page
        block main
        block scripts
            script(src='/public/index.bundle.js')